html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: DM Sans;
}

nav {
    position: absolute;
    width: 100%;
    background-color: #23d680;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2.5px solid white;
}

nav>a {
    margin: 0;
    padding: 0;
    height: 75px;
}

nav img {
    height: 75px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    margin-right: 2em;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: DM Sans;
    transition: 0.5s;
}

nav ul a:hover {
    font-size: 22px;
    font-weight: bold;
}

#banner {
    background-color: #23d680;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 2.5px solid white;
}

#banner h1 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50vw;
    font-size: 64px;
}


#call-to-action a, #call-to-action h2 {
    color: rgba(255, 255, 255, 0.75);
    font-size: 30px;
    text-decoration: underline;
    transition: .6s;
}

#call-to-action a:hover, #call-to-action h2:hover {
    color: white;
    cursor: pointer;
}

.scroll {
    position: absolute;
    top: 90%;
    display: flex;
}

.scroll a {
    left: auto;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

.scroll a:hover {
    font-size: 20px;
}

#features {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #23d680;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid white;
}

#f-left {
    margin: 0;
    padding: 0;
}

.f-item {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-item h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 36px;
    color: white;
}

.f-item p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 22px;
    color: white;
}

#pricing {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #23d680;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid white;
    color: white;
}

#pricing h1,
h2 {
    margin: 0;
    padding: 0;
}

#p-left {
    margin-left: auto;
    width: 550px;
}

#p-left h1 {
    margin-bottom: 1em;
    font-size: 52px;
}

#p-left h2 {
    font-size: 36px;
}

#p-left span {
    background: linear-gradient(#FFFFFF, #FFD700);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient {
    margin-right: auto;
    position: relative;
    padding: 5px;
    background: linear-gradient(#FFFFFF, #FFD700);
    /* Inner content background */
    border-radius: 5px;
    /* Rounded corners */
    filter: drop-shadow(0px 5px 10px #00000054);
}

#p-right {
    padding: 30px;
    width: 400px;
    background: #23d680;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid;
    border-image: linear-gradient(to bottom,#FFFFFF, #FFD700) 1; */

}

#p-right h3 {
    margin: 0;
    /* margin-bottom: 1em; */
    width: 90%;
    font-size: 28px;
}

#p-right h1 {
    margin: .5em 0 .5em 0;
    text-align: center;
    font-size: 64px;
    background: linear-gradient(#FFFFFF, #FFD700);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#p-right p {
    margin: 0;
    width: 90%;
    font-size: 20px;
}

#p-right ul li {
    font-size: 18px;
}

#roadmap {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #23d680;
    border-bottom: 2.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#r-title {
    margin-bottom: 5em;
    text-align: center;
}

#r-title h1 {
    margin: 0;
    font-size: 52px;
}

#r-title h2 {
    margin: 0;
    font-size: 32px;
    color: white;
}

#r-top, #r-bottom {
    display: flex;
}

#r-top {
    border-bottom: 2px solid white;
}

#r-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r-itemcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.point-line {
    height: 30px;
    width: 2px;
    background-color: white;
}

.r-item {
    padding: 1em;
    /* width: 300px;
    height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #23d680;
}

.r-item h2 {
    /* margin-top: 1em; */
    font-size: 28px;
    text-align: center;
}

.r-item h3 {
    color: rgba(255, 255, 255, 0.75);;
}

.r-item ul {
    margin: 0;
    /* padding: 0; */
    width: 80%;
    font-size: 18px;
}

.r-gradient {
    margin: .5em;
    padding: 5px;
    width: 400px;
    /* background: linear-gradient(#FFFFFF, #FFD700);
    border-radius: 5px;
    filter: drop-shadow(0px 5px 10px #00000028); */
}

#about {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #23d680;
    border-bottom: 2.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#about h2, h3 {
    margin: 0;
    padding: 0;
}

#a-title h2 {
    font-size: 42px;
}

.a-item {
    width: 450px;
}

#a-container {
    width: 85%;
    width: 1000px;
    display: flex;
    justify-content: center;
}

#a-container h2 {
    margin: 1em 0 .5em 0;
    font-size: 22px;
}

#a-container p {
    margin: 0;
    font-size: 16px;
}

#a-left {
    margin-right: 2em;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
    color: white;
}

#foot-main {
    margin: 0;
    padding: 0 0 2em 0;
    display: flex;
}

.foot-item {
    margin: 1em 2em 1em 2em;
}

.foot-item h3,p {
    margin: .5em 0 0 0;
    padding: 0;
}

.foot-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.foot-item li {
    margin: .5em 0 .25em 0;
}

.foot-item a {
    /* text-decoration: none; */
    color: #d3d3d3;
    transition: 0.6s;
}

.foot-item a:hover {
    color: white;
    font-size: 18px;
}

#signup p {
    margin: .5em 0 .5em 0;
}

#signup input[type=email] {
    padding: .5em;
    border: 2px solid rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    outline: none;
    font-family: DM Sans;
    transition: 0.6s;
}

#signup input[type=email]:focus {
    border: 2px solid black;
}

#signup button {
    padding: .5em;
    border: 2px solid rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    background-color: white;
    transition: 0.6s;
    font-family: DM Sans;
}

#signup button:hover {
    border: 2px solid white;
    background-color: #23d680;
    color: white;
}

#success {
    background: linear-gradient(#FFFFFF, #23d680);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fail {
    background: linear-gradient(#FFFFFF, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#copyright p{
    margin: 0;
    padding: 1em;

}
