html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    
    font-family: DM Sans;
}

nav {
    position: absolute;
    width: 100%;
    background-color: #23d680;
    /* filter: drop-shadow(0px 5px 20px #ffffffa9); */
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2.5px solid white;
}

nav>a {
    margin: 0;
    padding: 0;
    height: 75px;
}

nav img {
    height: 75px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    margin-right: 2em;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: DM Sans;
    transition: 0.5s;
}

nav ul a:hover {
    font-size: 22px;
    font-weight: bold;
}

#banner {
    background-color: #23d680;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 2.5px solid white;
}

#banner h1 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50vw;
    /* color: white; */
    font-size: 64px;
}


#call-to-action a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    transition: .6s;
}

#call-to-action a:hover {
    color: white;
}

#scroll {
    /* margin-top: 14em;
    margin-bottom: -14em; */
    /* padding: 1em; */
    position: absolute;
    top: 90%;
    display: flex;
}

#scroll a {
    /* position: absolute; */
    left: auto;
    /* right: auto; */
    /* top */
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

#scroll a:hover {
    font-size: 20px;
}

#features {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #23d680;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid white;
}

#f-left {
    margin: 0;
    padding: 0;
}

.f-item {
    height: 200px;
    width: 500px;
    /* margin: 0 auto 0 auto; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-item h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 36px;
    color: white;
}

.f-item p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 22px;
    color: white;
}

#pricing {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #23d680;

    
    border-bottom: 2.5px solid white;
}
