body {
    /* font-family: "DM Sans", sans-serif;
     */
    /* background-color: white; */
    margin: 0;
    padding: 0;
}


nav {
    background-color: #007BFF;
    margin-top: -7vmin;
    z-index: 3;
    position: fixed;
    height: 7vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

 nav ul li {
    display: inline;
    margin-left: 2em;
}

nav ul li:nth-child(1) {
    display: inline;
    margin-left: 0;
}

nav ul a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* transition: border-bottom 1s ease-in-out; */
}

nav ul a:hover {
    border-bottom: 2px solid white;
}

header {
    position: relative;
    margin-top: 7vmin;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
    font-weight: 500;
    height: 55vmin;
    overflow: hidden;
    text-align: center;
}

header h1,h2 {
    padding: 0;
    margin: 0;
    z-index: 2;
}

header h1 {
    font-size: 56px;
}

header h2 {
    font-weight: 500;
    margin-top: .25em;
}

header a {
    padding: .5em;
    margin-top: 2em;
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #007BFF;
    border-radius: 5px;
    z-index: 2;
    transition: background-color 0.1s ease-in-out;
}

header a:hover {
    background-color: #002b5817;
}

header img {
    position: absolute;
    opacity: 25%;
    z-index: 1;
}

.features {
    margin-top: 5em;
    margin-bottom: 6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features h1 {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    font-size: 40px;
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
}

.features-wrapper div {
    margin-left: 5vw; 
    margin-top: 2em;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-width: 425px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(180deg, rgba(211,211,211,1) 0%, rgba(211,211,211,1) 50%, rgba(255,255,255,1) 100%);
}

.features-wrapper div:nth-child(1) {
    margin-left: 0;
}

@media (max-width: 910px) {
    .features-wrapper div {
        /* flex: 1 1 100%; */
        flex-wrap: nowrap;
        margin-left: 0;
    }
}

.features-wrapper h2 {
    font-size: 32px;
    background-color: #007BFF;
    width: 100%;
    text-align: center;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.features-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    width: 80%;
}

.how-it-works {
    background-color: #D3D3D3;
    margin: 0;
    padding-top: 6em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.how-it-works h1 {
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
    font-size: 32px;
}

.hiw-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiw-wrapper ul {
    list-style: none;
}

.hiw-wrapper li {
    margin-bottom: 7em;
    
}

.hiw-wrapper li:nth-child(3) {
    margin-bottom: 0;
}

.hiw-wrapper li p {
    font-size: 28px;
}

.hiw-divs {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiw-wrapper p {
    font-size: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    margin-bottom: 8em;
    background-color: #007BFF;
    border-radius: 50%;
}

.circle:nth-child(3) {
    margin-bottom: 0;
}

.hiw-paras p {
    margin-bottom: 2em;
}
