header {
    position: relative;
    margin: 0;
    margin-top: 7vmin;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
    font-weight: 500;
    height: 55vmin;
    overflow: hidden;
    text-align: center;
}

header h1,h2 {
    padding: 0;
    margin: 0;
    z-index: 2;
}

header h1 {
    font-size: 56px;
}

header h2 {
    font-weight: 500;
    margin-top: .25em;
}

header a {
    padding: .5em;
    margin-top: 2em;
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #007BFF;
    border-radius: 5px;
    z-index: 2;
    transition: background-color 0.1s ease-in-out;
}

header a:hover {
    background-color: #002b5817;
}

header img {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    opacity: 25%;
    z-index: 1;
}

.features {
    margin-top: 5em;
    margin-bottom: 6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features h1 {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    font-size: 40px;
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
}

.features-wrapper div {
    margin-left: 5vw; 
    margin-top: 2em;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25em;
    width: 20%;
    min-width: 425px;
    border-radius: 2rem;
    background-color: #007BFF;
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,.4);
}

.features-wrapper div:nth-child(1) {
    margin-left: 0;
}

@media (max-width: 910px) {
    .features-wrapper div {
        flex-wrap: nowrap;
        margin-left: 0;
    }
}

.features-wrapper h2 {
    margin-bottom: 2em;
    font-size: 32px;
    width: 100%;
    text-align: center;
    color: white;
}

.features-wrapper div img {
    width: 10vmin;
    min-width: 150px;
    filter: invert(1);
}

.features a {
    margin-top: 5em;
    margin-bottom: -1em;
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    border-bottom: 2px solid white;
}

.features a:hover {
    border-bottom: 2px solid #007BFF;
}

.how-it-works {
    background-color: #D3D3D3;
    margin: 0;
    padding-top: 6em;
    padding-bottom: 6em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hiw-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hiw-wrapper:nth-child(1) {
    /* margin-right: -20vh; */
}

.hiw-wrapper:nth-child(2) {
    display: grid;
    row-gap: 2.5px;
}

.hiw-wrapper:nth-child(2) div {
    padding: 0;
    margin: 0;
    height: 7.5em;
    width: 30vw;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.hiw-wrapper h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    /* width: 100%; */
    border-bottom: 4px solid black;
}

.hiw-wrapper h2 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    /* background-color: blue; */
}

.hiw-wrapper p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    /* font-weight: bold; */
}

.hiw-wrapper img {
    margin-top: 5em;
    width: 10vmin;
    min-width: 150px;
    max-width: 250px;
}

.hiw-wrapper:nth-child(2) img {
    padding: 0;
    margin: 0;
    width: 7vmin;
    min-width: 50px;
    rotate: 90deg;
    /* background-color: blue; */
}


@media (max-width: 1350px) {
    .how-it-works {
        /* flex: 1 1 100%; */
        flex-direction: column;
    }

    .hiw-wrapper {
        width: 100%;
    }

    .hiw-wrapper:nth-child(1) {
        margin-right: 0;
    }

    .hiw-wrapper:nth-child(2) {
        row-gap: 0px;
    }
}