<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/base/base.css}">
    <link rel="stylesheet" th:href="@{css/base/nav.css}">
    <link rel="stylesheet" th:href="@{css/base/footer.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{images/faveicon.png}">
    <title>SnapInv</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <a th:href="@{/features}">Features</a>
            </li>
            <li>
                <a href="">Pricing</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Manage Your Inventory Effortlessly</h1>
        <h2>SnapInv makes inventory management a snap.</h2>
        <a href="http://www.google.com" target="_blank">Get Started</a>
        <img th:src="@{images/home/holding_phone.jpg}" draggable="false" alt="">
    </header>
    <main>
        <section class="features">
            <h1>We make inventory management...</h1>
            <div class="features-wrapper">
                <div>
                    <h2>Simple</h2>
                    <img th:src="@{images/home/icons/puzzle.png}" alt="">
                </div>
                <div>
                    <h2>Collaborative</h2>
                    <img th:src="@{images/home/icons/network.png}" alt="">
                </div>
                <div>
                    <h2>Affordable</h2>
                    <img th:src="@{images/home/icons/low-price.png}" alt="">
                </div>
            </div>
            <a th:href="@{/features}">Learn More</a>
        </section>
        <section class="how-it-works">
            <div class="hiw-wrapper">
                <h1>Get started with your business.</h1>
                <!-- <img th:src="@{images/home/icons/online.png}" alt=""> -->
            </div>
            <div class="hiw-wrapper">
                <div>
                    <h2>Create an Organization</h2>
                    <p>
                        Log in and create an organization with your preferred plan.
                    </p>
                </div>
                <div>
                    <img th:src="@{images/home/icons/right-arrow.png}" alt="">
                </div>
                <div>
                    <h2>Add Employees</h2>
                    <p>
                        Assign roles and permissions to team members and manage inventory simultaneously.
                    </p>
                </div>
                <div>
                    <img th:src="@{images/home/icons/right-arrow.png}" alt="">
                </div>
                <div>
                    <h2>Integrate Your Inventory</h2>
                    <p>
                        Manually add your inventory or import it from excel.
                    </p>
                </div>
            </div>
        </section>
        <section class="">

        </section>
    </main>
    
    <footer>
        <div>
            <p><b>Links</b></p>
            <ul>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Timeline</a>
                </li>
            </ul>
        </div>
        <div>
            <p><b>Socials</b></p>
            <ul>
                <li>
                    <a href="">Instagram</a>
                </li>
                <li>
                    <a href="">Facebook</a>
                </li>
                <li>
                    <a href="">LinkedIn</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>