header {
    padding: 0;
    margin-top: 7vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vmin;
    background-color: #d3d3d3;
}

header h1 {
    padding: 0;
    margin-top: 0;
    font-size: 64px;
    /* height: 100%; */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-wrapper {
    padding: 5em;
    display: grid;
    gap: 2em;
    width: 50%;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.feature:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
}
