<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapInv</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>

<body>
    <nav>
        <a href=""><img src="/images/icons/svg/SnapInv_Rect_SVG_Trans.svg" alt="SnapInv Logo"></a>
        <ul>
            <li><a href="">Features</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Roadmap</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
    <main>
        <section id="banner">
            <div id="call-to-action">
                <h1>Making Inventory Management</h1>
                <h1>Easy and Affordable.</h1>
                <a href="">
                    <h2>Sign up for early access.</h2>
                </a>
            </div>
            <div id="scroll">
                <a href="#features">Features<br><b>&#8615;</b></a>
            </div>
        </section>
        <section id="features">
            <div id="f-left">
                <div class="f-item">
                    <h2>Multiscan</h2>
                    <p>
                        Change quantity of item by scanning the same code multiple times on the fly.
                        Scanned code not found? It will create a new item with that code.
                    </p>
                </div>
                <div class="f-item"></div>
                <div class="f-item">
                    <h2>Search and Filters</h2>
                    <p>
                        Customizable search for the name, id, and barcode of an item.
                        Change filters for to list the items in your invenotry easier.
                    </p>
                </div>
                <div class="f-item"></div>
            </div>
            <div id="f-right">
                <div class="f-item"></div>
                <div class="f-item">
                    <h2>Graph Tracking</h2>
                    <p>
                        Track the stock of items on a customizable chart.
                        Sets stock thresholds and get an alert when they are hit.
                    </p>
                </div>
                <div class="f-item"></div>
                <div class="f-item">
                    <h2>Offline Capability</h2>
                    <p>
                        Use the app while offline with most functionality available.
                        Inventory will be updated once app is back online.
                    </p>
                </div>
            </div>
            <div id="scroll">
                <a href="#pricing">Pricing<br><b>&#8615;</b></a>
            </div>
        </section>
        <section id="pricing">
            <h1>We are striving for an affordable system for all sizes of business or idividuals.</h1>
            <h2>This starts with a small token of gratitude if you choose us...</h2>
            <h3>We are selling the first <b>50</b> licenses for access to the app for...</h3>
            <h1 id="alpha-price">$40.00</h1>
            <p>
                This license will <b>NEVER EXPIRE</b>, giving you access to the app indefinitely.
                You will recieve all updates at no extra cost and all your data will be carried over for each released version.
                
                As an early supporter, you’ll help shape the future of the app with direct feedback and feature requests.  
                Plus, you’ll be among the first to experience new features, improvements, and exclusive benefits as we continue to enhance the system.  

                Don’t miss out—once these first <b>50</b> licenses are gone, this offer will no longer be available!
            </p>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>