<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/base/base.css}">
    <link rel="stylesheet" th:href="@{css/base/nav.css}">
    <link rel="stylesheet" th:href="@{css/base/footer.css}">
    <link rel="stylesheet" th:href="@{css/main/features.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{images/faveicon.png}">
    <title>Features | SnapInv</title>
</head>
<body>
    <body>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/features}">Features</a>
                </li>
                <li>
                    <a href="">Pricing</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
            </ul>
        </nav>

        <header>
            <h1>Features</h1>
        </header>

        <main>
            <div class="features-wrapper">
                <div class="feature">
                    <h2>Simple</h2>
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="feature">
                    <h2>Manageable</h2>
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="feature">
                    <h2>Collaborative</h2>
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="feature">
                    <h2>Affordable</h2>
                    <img src="" alt="">
                    <p></p>
                </div>
            </div>
        </main>

        <footer>
            <div>
                <p><b>Links</b></p>
                <ul>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Timeline</a>
                    </li>
                </ul>
            </div>
            <div>
                <p><b>Socials</b></p>
                <ul>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</body>
</html>