<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/e_update.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <section>
            <h1>Email Update</h1>
            <form action="/email" method="post">
                <div id="f-container"></div>
                    <div class="input-item">
                        <label for="sender">Sender Name:</label>
                        <input type="text" name="sender" placeholder="Enter Name">
                    </div>
                    <div class="input-item">
                        <label for="subject">Subject:</label>
                        <input type="text" name="subject" placeholder="Enter Subject">
                    </div>
                    <div class="input-item">
                        <label for="body">Body:</label>
                        <textarea name="body" rows="15" cols="64"></textarea>
                    </div>

                    <button type="submit">Send</button>
                </div>
            </form>
            <div th:if="${success}">
                <h3>Sent Successfully</h3>
            </div>
        </section>
    </main>

</body>

</html>